#bg {
    position: absolute;
    width: 100%;
    height: 125%;
    background-color: #f3f3f3;
}

#back {
    float: left;
    position: relative;
    width: 50%;
    padding: 10px 80px;
    margin: 20px 20% 0;
    background-color: #FFFFFF;
    box-shadow: lightgray 5px 5px 10px 1px;
}

.select {
    position: relative;
    float: left;
    display: inline-block;
    margin-top: 20px;
    width: 100%;
}

.select>span {
    color: #CC3333;
    font-family: 方正清刻本悦宋简体;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.box1 {
    float: left;
    display: inline-block;
    width: 100px;
    height: 150px;
    border-radius: 30px;
    border: 2px solid #CC3333;
    margin-top: 10px;
    margin-left: 5%;
    cursor: pointer;
}

.box1>span {
    color: #CC3333;
}

.firstText {
    float: left;
    font-size: 26px;
    font-family: 方正清刻本悦宋简体;
    writing-mode: vertical-lr;
    color: #FFFFFF;
    margin-left: 15px;
    margin-top: 10px;
}

.secondText {
    float: left;
    font-size: 16px;
    font-family: 微软雅黑;
    writing-mode: vertical-lr;
    color: #FFFFFF;
    margin-left: 15px;
    margin-top: 10px;
}

.box2 {
    float: left;
    display: inline-block;
    width: 100px;
    height: 150px;
    background-color: #CC3333;
    border-radius: 30px;
    border: 2px solid #CC3333;
    margin-top: 10px;
    margin-left: 7%;
    cursor: pointer;
}