#bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
    top: 60px;
}

#back {
    float: left;
    position: relative;
    width: 50%;
    height: 90%;
    padding: 10px 80px;
    margin: 20px 20% 0;
    background-color: #FFFFFF;
    box-shadow: lightgray 5px 5px 10px 1px;
}

.head {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: #cc3333;
}

.loginBox {
    position: relative;
    margin-left: 24%;
    margin-top: 2%;
    font-size: 18px;
}

.title {
    margin-top: 10px;
}

.title span {
    display: inline-block;
    width: 75px;
    text-align: justify;
}

.title input {
    border: none;
    background-color: #fff;
    height: 20px;
}

.remindText {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #cc3333;
}

.loginBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 15px;
}

.loginBtn input {
    height: 30px;
    width: 150px;
    border: none;
    background-color: #cc3333;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    border-radius: 15px;
}

.background {
    position: relative;
    margin: 20% 20%;
    padding: 10px 0;
    background-color: #f0f0f4;
    border-radius: 20px;
}